.banner {
    padding-top: 148px;
    padding-bottom: 20px;
    &__wrap {
        display: flex;
        flex-direction: column;
        max-width: 335px;
        margin: auto;
    }
    &__title {
        font-weight: 500;
        margin-bottom: 201px;
        font-size: 38px;
        line-height: 45px;
        color: $white;
        text-align: center;
    }
    &__link {
        display: inline-flex;
        width: 42px;
        height: 42px;
        border: 1px solid $white;
        border-radius: 50%;
        margin: auto;
        &-svg {
            fill: none;
            margin: auto;
        }
        &:hover {
            transform: translateY(10px);
            transition-duration: 1s;
            transition-property: transform;
        }
    }
}
@media (min-width: 992px) {
    .banner {
        padding-top: 235px;
        &__wrap {
            max-width: 600px;
        }
        &__title {
            margin-bottom: 288px;
        }
    }
}
