$main: #323264;
$main-alt: #46466E;
$main-soft: #686887;
$accent: #F0145A;
$accent-active: #24A3FF;
$accent-active-hover: #0085FF;
$accent-active-active: #006CCF;
$grey-bg: #F5F5FA;
$grey-bg-alt: #EDEDF7;
$grey-text: #B3B3BA;
$grey-separator: #E6E6F0;
$gradient-soft: #7A425E;
$gradient-supersoft: #643E72;
$white: #FFFFFF;
$hillel: #1C4280;
$wannabiz: #143646;
$targerine: #F48B30;
$orangear: #FD9339;
$look: #9E4DC3;
$adtelligent: #E2E2E4;
$clickky: #C71C36;
$ecolease: #DCF3F9;
$infratek: #EAEAEA;
$city-park: #282240;
$art-print: #1D4568;
$black: #000000;
$grey-shadow: #CACADB;
$light-grey-shadow: #E7E7F2;
